[submodule "the_vision_ws/src/realsense-ros"]
	path = the_vision_ws/src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
[submodule "the_vision_ws/src/ros2_aruco"]
	path = the_vision_ws/src/ros2_aruco
	url = https://github.com/Cionix90/ros2_aruco.git
[submodule "the_vision_ws/src/BehaviorTree.CPP"]
	path = the_vision_ws/src/BehaviorTree.CPP
	url = https://github.com/BehaviorTree/BehaviorTree.CPP.git
[submodule "the_vision_ws/src/BehaviorTree.ROS2"]
	path = the_vision_ws/src/BehaviorTree.ROS2
	url = https://github.com/BehaviorTree/BehaviorTree.ROS2.git
[submodule "the_vision_ws/src/rosx_introspection"]
	path = the_vision_ws/src/rosx_introspection
	url = https://github.com/facontidavide/rosx_introspection.git
